<div class="row">
    <div class="colHeading">
        <h2 style="padding-top: 10px;"><a href="~/Projects/battery">BatteryProducts</a></h2>
        <h5><a href="https://www.batteryproducts.com/">https://www.batteryproducts.com/</a></h5>
        <h3>Responsive Design Conversion</h3>
    </div>
    <div class="pageTypePack">     
        <div class="screencap desktop">
            <h4>Desktop</h4>
            <img class="screen" src="~/images/media/battery/batFull.png" alt="Screenshot of Desktop sized BatteryProducts" />
        </div>
        <div class="screencap tablet">
            <h4>Tablet</h4>
            <img class="screen" src="~/images/media/battery/batTab.png" alt="Screenshot of Tablet sized BatteryProducts" />
        </div>
        <div class="screencap mobile">
            <h4>Mobile</h4>
            <img class="screen" src="~/images/media/battery/batMob.png" alt="Screenshot of Mobile sized BatteryProducts" />
        </div>
    </div>
</div>
<div class="row">
    <div class="colHeading">
        <h2 style="padding-top: 10px;"><a href="~/Projects/NSI">NSI</a></h2>
        <h5><a href="http://nsi.inetwd.com/">http://nsi.inetwd.com/</a></h5>
        <h3>Complete Responsive Build</h3>
    </div>
    <div class="pageTypePack">     
        <div class="screencap desktop">
            <h4>Desktop</h4>
            <img class="screen" src="~/images/media/nsi/NSIhomeFull.jpg" alt="Screenshot of Desktop sized NSI" />
        </div>
        <div class="screencap tablet">
            <h4>Tablet</h4>
            <img class="screen" src="~/images/media/nsi/NSIhomeTab.jpg" alt="Screenshot of Tablet sized NSI" />
        </div>
        <div class="screencap mobile">
            <h4>Mobile</h4>
            <img class="screen" src="~/images/media/nsi/NSIhomeMob.jpg" alt="Screenshot of Mobile sized NSI" />
        </div>
    </div>
</div>
<div class="row">
    <div class="colHeading">
        <h2 style="padding-top: 10px;"><a href="~/Projects/RoughRhino">Rough Rhino</a></h2>
        <h5><a href="http://www.roughrhino.com/">http://www.roughrhino.com/</a></h5>
        <h3>Complete Responsive Build</h3>
    </div>
    <div class="pageTypePack">     
        <div class="screencap desktop">
            <h4>Desktop 0</h4>
            <img class="screen" src="~/images/media/rough/RoughHomeFull0.png" alt="Screenshot of Desktop sized Rough Rhino" />
        </div>
        <div class="screencap desktop">
            <h4>Desktop 1</h4>
            <img class="screen" src="~/images/media/rough/RoughHomeFull1.png" alt="Screenshot of Desktop sized Rough Rhino" />
        </div>
        <div class="screencap tablet">
            <h4>Tablet</h4>
            <img class="screen" src="~/images/media/rough/RoughHomeTab.png" alt="Screenshot of Tablet sized Rough Rhino" />
        </div>
        <div class="screencap mobile">
            <h4>Mobile</h4>
            <img class="screen" src="~/images/media/rough/RoughHomeMob.png" alt="Screenshot of Mobile sized Rough Rhino" />
        </div>
    </div>
</div>