<div class="row" id="batHome">
    <div class="colHeading">
        <h2 style="padding-top: 10px;">BatteryProducts</h2>
        <h3>Responsive Design Conversion</h3>
        <h5>Live Website: <a href="http://www.BatteryProducts.com/">http://www.BatteryProducts.com/</a></h5>
        <h5>Please Select an Option Below</h5>
    </div>
    <h2 class="subh2">Home Page<span class="hb"></span><span class="hb2"></span></h2>
    <div class="slider">
        <div class="pageTypePack">     
            <div class="screencap desktop">
                <h4>Desktop</h4>
                <img class="screen" src="~/images/media/battery/batFull.png" alt="Screenshot of Desktop sized BatteryProducts" />
            </div>
            <div class="screencap tablet">
                <h4>Tablet</h4>
                <img class="screen" src="~/images/media/battery/batTab.png" alt="Screenshot of Tablet sized BatteryProducts" />
            </div>
            <div class="screencap mobile">
                <h4>Mobile</h4>
                <img class="screen" src="~/images/media/battery/batMob.png" alt="Screenshot of Mobile sized BatteryProducts" />
            </div>
        </div>
    </div>
    <h2 class="subh2" href="#">Categories<span class="hb"></span><span class="hb2"></span></h2>
    <div class="slider">
        <div class="pageTypePack">            
            <div class="screencap desktop">
                <h4>Desktop</h4>
                <img class="screen" src="~/images/media/battery/batCatFull.png" alt="Screenshot of Desktop sized BatteryProducts" />
            </div>
            <div class="screencap tablet">
                <h4>Tablet</h4>
                <img class="screen" src="~/images/media/battery/batCatTab.png" alt="Screenshot of Tablet sized BatteryProducts" />
            </div>
            <div class="screencap mobile">
                <h4>Mobile</h4>
                <img class="screen" src="~/images/media/battery/batCatMob.png" alt="Screenshot of Mobile sized BatteryProducts" />
            </div>
        </div>
    </div>
    <h2 class="subh2" href="#">Product Page<span class="hb"></span><span class="hb2"></span></h2>
    <div class="slider">
        <div class="pageTypePack">            
            <div class="screencap desktop">
                <h4>Desktop</h4>
                <img class="screen" src="~/images/media/battery/batProdFull.png" alt="Screenshot of Desktop sized BatteryProducts" />
            </div>
            <div class="screencap tablet">
                <h4>Tablet</h4>
                <img class="screen" src="~/images/media/battery/batProdTab.png" alt="Screenshot of Tablet sized BatteryProducts" />
            </div>
            <div class="screencap mobile">
                <h4>Mobile</h4>
                <img class="screen" src="~/images/media/battery/batProdMob.png" alt="Screenshot of Mobile sized BatteryProducts" />
            </div>
        </div>
    </div>
</div>