<div class="row" id="batHome">
    <div class="colHeading">
        <h2 style="padding-top: 10px;">NSI</h2>
        <h3>Complete Responsive Build</h3>
    </div>
    <h2 class="subh2">Home Page<span class="hb"></span><span class="hb2"></span></h2>
    <div class="slider">
        <div class="pageTypePack">     
            <div class="screencap desktop">
                <h4>Desktop</h4>
                <img class="screen" src="~/images/media/nsi/NSIhomeFull.jpg" alt="Screenshot of Desktop sized NSI" />
            </div>
            <div class="screencap tablet">
                <h4>Tablet</h4>
                <img class="screen" src="~/images/media/nsi/NSIhomeTab.jpg" alt="Screenshot of Tablet sized NSI" />
            </div>
            <div class="screencap mobile">
                <h4>Mobile</h4>
                <img class="screen" src="~/images/media/nsi/NSIhomeMob.jpg" alt="Screenshot of Mobile sized NSI" />
            </div>
        </div>
    </div>
    <h2 class="subh2" href="#">Sub-page<span class="hb"></span><span class="hb2"></span></h2>
    <div class="slider">
        <div class="pageTypePack">            
            <div class="screencap desktop">
                <h4>Desktop</h4>
                <img class="screen" src="~/images/media/nsi/NSIsubFull.jpg" alt="Screenshot of Desktop sized NSI" />
            </div>
            <div class="screencap tablet">
                <h4>Tablet</h4>
                <img class="screen" src="~/images/media/nsi/NSIsubTab.jpg" alt="Screenshot of Tablet sized NSI" />
            </div>
            <div class="screencap mobile">
                <h4>Mobile</h4>
                <img class="screen" src="~/images/media/nsi/NSIsubMob.png" alt="Screenshot of Mobile sized NSI" />
            </div>
        </div>
    </div>
</div>