<div class="row" id="batHome">
    <div class="colHeading">
        <h2 style="padding-top: 10px;">Rough Rhino</h2>
        <h3>Complete Responsive Build</h3>
        <h5>Live Website: <a href="http://www.roughrhino.com/">http://www.roughrhino.com/</a></h5>
        <h5>Please Select an Option Below</h5>
    </div>
    <h2 class="subh2">Home Page<span class="hb"></span><span class="hb2"></span></h2>
    <div class="slider">
        <div class="pageTypePack">     
            <div class="screencap desktop">
                <h4>Desktop</h4>
                <img class="screen" src="~/images/media/rough/RoughHomeFull0.png" alt="Screenshot of Desktop sized Rough Rhino" />
            </div>
            <div class="screencap desktop">
                <h4>Desktop Pop-out Sidebar</h4>
                <img class="screen" src="~/images/media/rough/RoughHomeFull1.png" alt="Screenshot of Desktop sized Rough Rhino" />
            </div>
            <div class="screencap tablet">
                <h4>Tablet</h4>
                <img class="screen" src="~/images/media/rough/RoughHomeTab.png" alt="Screenshot of Tablet sized Rough Rhino" />
            </div>
            <div class="screencap mobile">
                <h4>Mobile</h4>
                <img class="screen" src="~/images/media/rough/RoughHomeMob.png" alt="Screenshot of Mobile sized Rough Rhino" />
            </div>
        </div>
    </div>
    <h2 class="subh2" href="#">Articles<span class="hb"></span><span class="hb2"></span></h2>
    <div class="slider">
        <div class="pageTypePack">            
            <div class="screencap desktop">
                <h4>Desktop</h4>
                <img class="screen" src="~/images/media/rough/RoughArtclFull.png" alt="Screenshot of Desktop sized Rough Rhino" />
            </div>
            <div class="screencap tablet">
                <h4>Tablet</h4>
                <img class="screen" src="~/images/media/rough/RoughArtclTab.png" alt="Screenshot of Tablet sized Rough Rhino" />
            </div>
            <div class="screencap mobile">
                <h4>Mobile</h4>
                <img class="screen" src="~/images/media/rough/RoughArtclMob.png" alt="Screenshot of Mobile sized Rough Rhino" />
            </div>
        </div>
    </div>
    <h2 class="subh2" href="#">Acticle Search<span class="hb"></span><span class="hb2"></span></h2>
    <div class="slider">
        <div class="pageTypePack">            
            <div class="screencap desktop">
                <h4>Desktop</h4>
                <img class="screen" src="~/images/media/rough/RoughSearchFull.png" alt="Screenshot of Desktop sized Rough Rhino" />
            </div>
            <div class="screencap tablet">
                <h4>Tablet</h4>
                <img class="screen" src="~/images/media/rough/RoughSearchTab.png" alt="Screenshot of Tablet sized Rough Rhino" />
            </div>
            <div class="screencap mobile">
                <h4>Mobile</h4>
                <img class="screen" src="~/images/media/rough/RoughSearchMob.png" alt="Screenshot of Mobile sized Rough Rhino" />
            </div>
        </div>
    </div>
</div>